[user]
	email = atorkhov@gmail.com
	name = Alexey Torkhov
[color]
    ui = true
[alias]
	s = status -sb
	d = diff
	dc = diff --cached
	co = checkout
	cb = checkout -b
	a = add
	l = log --graph --abbrev-commit --date=relative
	la = log --graph --abbrev-commit --date=relative --all
	lp = log -p
	p = add -p
	c = commit
	r = rebase -i HEAD~20
[core]
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
[format]
	pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[push]
	default = simple
