[user]
	email = atorkhov@gmail.com
	name = Alexey Torkhov
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[format]
	pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[push]
	default = simple
